# Analyzing Startup Fundraising Deals from Crunchbase
---

 In this guided project, we'll practice using some of the techniques we learned to analyze startup investments from Crunchbase.com.

Every year, thousands of startup companies raise financing from investors. Each time a startup raises money, we refer to the event as a fundraising round. Crunchbase is a website that crowdsources information on the fundraising rounds of many startups. The Crunchbase user community submits, edits, and maintains most of the information in Crunchbase.

In return, Crunchbase makes the data available through a Web application and a fee-based API. Before Crunchbase switched to the paid API model, multiple groups crawled the site and released the data online. Because the information on the startups and their fundraising rounds is always changing, the data set we'll be using isn't completely up to date.

The data set of investments we'll be exploring is current as of October 2013. You can download it from [GitHub](https://github.com/datahoarder/crunchbase-october-2013/blob/master/crunchbase-investments.csv).

Throughout this guided project, we'll practice working with different memory constraints. In this step, let's assume we only have 10 megabytes of available memory. While `crunchbase-investments.csv` consumes 10.3 megabytes of disk space, we know from earlier lessons that pandas often requires 4 to 6 times amount of space in memory as the file does on disk (especially when there's many string columns).

### 1. Introduction
We will start by importing the libraries in and the dataset in. Because the data set contains over 50,000 rows, we'll need to read the data set into dataframes using 5,000 row chunks to ensure that each chunk consumes much less than 10 megabytes of memory.

In [1]:
# Importing the libraries
import pandas as pd
import sqlite3

# Setting pandas display option
pd.options.display.max_columns = 99

# Importing the dataset
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, 
                         encoding='ISO-8859-1')

We will now check the dataset for missing values.

In [2]:
# Creating an empty list
mv_list = []

# Iterating through the chunks
for chunk in chunk_iter:
    mv_list.append(chunk.isnull().sum())

# Combining the values together    
combined_mv_vc = pd.concat(mv_list)

# Grouping the values and sorting the values
unique_combined_mv_vc = combined_mv_vc.groupby(combined_mv_vc.index).sum()
unique_combined_mv_vc.sort_values()

company_country_code          1
company_name                  1
company_permalink             1
company_region                1
investor_region               2
investor_permalink            2
investor_name                 2
funded_quarter                3
funded_at                     3
funded_month                  3
funded_year                   3
funding_round_type            3
company_state_code          492
company_city                533
company_category_code       643
raised_amount_usd          3599
investor_country_code     12001
investor_city             12480
investor_state_code       16809
investor_category_code    50427
dtype: int64

We can see that there are certain columns which contain a lot of missing values. We will now try and find the memory footprint for the columns.

In [3]:
# Importing the dataset in
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')

# Iterating the over the chunks
counter = 0
series_memory_fp = pd.Series(dtype='float64')
for chunk in chunk_iter:
    if counter == 0:
        series_memory_fp = chunk.memory_usage(deep=True)
    else:
        series_memory_fp += chunk.memory_usage(deep=True)
    counter += 1

# Drop memory footprint calculation for the index
series_memory_fp = series_memory_fp.drop('Index')
series_memory_fp

company_permalink         4057788
company_name              3591326
company_category_code     3421104
company_country_code      3172176
company_state_code        3106051
company_region            3411585
company_city              3505926
investor_permalink        4980548
investor_name             3915666
investor_category_code     622424
investor_country_code     2647292
investor_state_code       2476607
investor_region           3396281
investor_city             2885083
funding_round_type        3410707
funded_at                 3542185
funded_month              3383584
funded_quarter            3383584
funded_year                422960
raised_amount_usd          422960
dtype: int64

We will now combine all the columns and measure the total footprint for the chunks in megabytes.

In [4]:
# Calculating the total footprint
series_memory_fp.sum()/1024**2

56.9876070022583

We can see that the total footprint of a 10 MB data is about 56 MB in python. We will start by dropping columns we do not need. Those columns are:
- `investor_permalink` and `company_permalink` are just URLs
- `investor_category_code` is riddled with many missing values

In [5]:
# Dropping the columns
keep_cols = chunk.columns.drop(['investor_permalink', 'company_permalink',
                                'investor_category_code'])

# Previewing the columns we kept
keep_cols.to_list()

['company_name',
 'company_category_code',
 'company_country_code',
 'company_state_code',
 'company_region',
 'company_city',
 'investor_name',
 'investor_country_code',
 'investor_state_code',
 'investor_region',
 'investor_city',
 'funding_round_type',
 'funded_at',
 'funded_month',
 'funded_quarter',
 'funded_year',
 'raised_amount_usd']

### 2. Selecting Data Types
We will try and see the data types for every column. This will help us in converting some columns if it is necessary.

In [6]:
# Creating an empty dictionary
col_types = {}

# Importing the data
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1', usecols=keep_cols)

# Iterating the chunks
for chunk in chunk_iter:
    for col in chunk.columns:
        if col not in col_types:
            col_types[col] = [str(chunk.dtypes[col])]
        else:
            col_types[col].append(str(chunk.dtypes[col]))
            
# Creating a dictionary to store the unique values
uniq_col_types = {}

# Iterating through the first dictionary
for k,v in col_types.items():
    uniq_col_types[k] = set(col_types[k])
    
# Previewing the result
uniq_col_types

{'company_name': {'object'},
 'company_category_code': {'object'},
 'company_country_code': {'object'},
 'company_state_code': {'object'},
 'company_region': {'object'},
 'company_city': {'object'},
 'investor_name': {'object'},
 'investor_country_code': {'float64', 'object'},
 'investor_state_code': {'float64', 'object'},
 'investor_region': {'object'},
 'investor_city': {'float64', 'object'},
 'funding_round_type': {'object'},
 'funded_at': {'object'},
 'funded_month': {'object'},
 'funded_quarter': {'object'},
 'funded_year': {'float64', 'int64'},
 'raised_amount_usd': {'float64'}}

Let's see if we can convert columns with the `object` data type if we can actually convert them into categorical data.

In [7]:
# Importing the data
loans_chunks = pd.read_csv('crunchbase-investments.csv', chunksize = 5000, encoding='ISO-8859-1', usecols=keep_cols)

# Creating an empty dictionary for values of each chunks
uniques = {}

# Iterating through each chunks
for lc in loans_chunks:
    strings_only = lc.select_dtypes(include = ['object'])
    cols = strings_only.columns
    for c in cols:
        val_counts = strings_only[c].value_counts()
        if c in uniques:
            uniques[c].append(val_counts)
        else:
            uniques[c] = [val_counts]

# Creating an empty dictionary to combine it together
uniques_combined = {}

# Iterating through each keys in the unique dictionary
for col in uniques:
    u_concat = pd.concat(uniques[col])
    u_group = u_concat.groupby(u_concat.index).sum()
    uniques_combined[col] = u_group
    
# Printing the unique values for the object columns
for col in uniques_combined:
    print(col)
    print(uniques_combined[col])
    print("-----------")

company_name
#waywire          5
0xdata            1
1-800-DENTIST     2
1000memories     10
100Plus           4
                 ..
yaM Labs          1
ybuy              4
zozi             38
zulily            6
zuuka!            3
Name: company_name, Length: 11573, dtype: int64
-----------
company_category_code
2/7/08                 1
advertising         3200
analytics           1863
automotive           164
biotech             4951
cleantech           1948
consulting           233
design                55
ecommerce           2168
education            783
enterprise          4489
fashion              368
finance              931
games_video         1893
government            10
hardware            1537
health               670
hospitality          331
legal                 87
local                 22
manufacturing        310
medical             1315
messaging            452
mobile              4067
music                287
nanotech             216
network_hosting     1075
news                 363
nonprofit            149
other                481
pets                  43
photo_video          230
public_relations     659
real_estate          190
search               632
security             996
semiconductor       1292
social               920
software            7243
sports               121
transportation       130
travel               337
web                 5015
Name: company_category_code, dtype: int64
-----------
company_country_code
2008-02        1
USA        52868
Name: company_country_code, dtype: int64
-----------
company_state_code
2008-Q1        1
AL            17
AR            33
AZ           261
CA         27054
CO           977
CT           333
DC           219
DE            28
FL           550
GA           568
HI            31
IA            33
ID            32
IL           911
IN           143
KS            65
KY            45
LA            43
MA          4889
MD           600
ME            94
MI           265
MN           205
MO           182
MS            33
MT            19
NC           596
NE            39
NH           159
NJ           691
NM            90
NV           105
NY          5890
OH           439
OK            29
OR           466
PA           918
RI           191
SC            97
SD             3
TN           176
TX          1619
UT           419
VA           704
VT            55
WA          1888
WI           163
WV             9
WY             1
Name: company_state_code, dtype: int64
-----------
company_region
2008              1
Akron            11
Alachua          19
Albuquerque      83
Allentown        20
               ...
Zeeland           2
piscataway        9
unknown         102
w. babylon        2
wilkes barre      1
Name: company_region, Length: 546, dtype: int64
-----------
company_city
(Oct. 01, 2011 - Sep. 30, 2012)    2
10000000                           1
ALLSTON                            2
ATLANTA                            2
AUSTIN                             2
                                  ..
sausalito                          1
scottsdale                         2
seattle                            1
w. babylon                         2
westminster                        1
Name: company_city, Length: 1229, dtype: int64
-----------
investor_name
.406 Ventures           36
1-800-FLOWERS.COM        1
10 Others                1
10X Fund LP             11
10X Venture Partners     2
                        ..
ventureblue Capital      2
venturecapital.de        1
yet2Ventures             1
zohar israel             1
zulily                   1
Name: investor_name, Length: 10465, dtype: int64
-----------
investor_country_code
ARE        7
ARG       14
AUS      163
BEL       44
BGR        4
       ...
UKR        9
USA    36574
VNM        5
WSM        4
ZAF        5
Name: investor_country_code, Length: 72, dtype: int64
-----------
investor_state_code
AL       67
AR       14
AZ       84
CA    18405
CO      729
CT      577
DC      323
DE       20
FL      242
GA      274
HI       13
IA        9
ID       40
IL      992
IN       88
KS       13
KY       54
LA       15
MA     3619
MD      486
ME       41
MI      315
MN      101
MO      148
MS        6
MT        1
NC      339
ND        5
NE       35
NH       51
NJ      456
NM       41
NV       38
NY     4404
OH      309
OK       21
OR       85
PA      762
RI       92
SC       34
SD        9
TN      147
TX      816
UT      200
VA      579
VT       26
WA      847
WI       82
WV        4
WY        3
Name: investor_state_code, dtype: int64
-----------
investor_region
Aalborg               1
Abbotsford            1
Aberdeen              2
Abu Dhabi             2
Accra                 1
                  ...
mkalles               1
portland metro        1
regina                1
unknown           12285
wilkes barre          1
Name: investor_region, Length: 585, dtype: int64
-----------
investor_city
(Oct. 01, 2011 - Sep. 30, 2012)    2
ABERDEEN                           2
ADELAIDE                           2
ALBURY                             1
AUSTIN                             1
                                  ..
cape town                          1
herndon                            2
kansas city                        1
paris                              1
portland metro                     1
Name: investor_city, Length: 990, dtype: int64
-----------
funding_round_type
angel              8989
crowdfunding          5
other               964
post-ipo             33
private-equity      357
series-a          13938
series-b           8794
series-c+         10870
venture            8917
Name: funding_round_type, dtype: int64
-----------
funded_at
1987-01-01     1
1987-06-16     1
1995-04-01     1
1995-07-01     1
1995-11-30     3
              ..
2013-09-26    56
2013-09-27    51
2013-09-29     2
2013-09-30    34
2013-10-01     5
Name: funded_at, Length: 2808, dtype: int64
-----------
funded_month
1987-01      1
1987-06      1
1995-04      1
1995-07      1
1995-11      3
          ...
2013-06    913
2013-07    927
2013-08    741
2013-09    846
2013-10      5
Name: funded_month, Length: 192, dtype: int64
-----------
funded_quarter
1987-Q1       1
1987-Q2       1
1995-Q2       1
1995-Q3       1
1995-Q4       3
           ...
2012-Q4    2070
2013-Q1    2245
2013-Q2    2351
2013-Q3    2514
2013-Q4       5
Name: funded_quarter, Length: 72, dtype: int64
-----------

We can see that there are columns we can change, those are:
- `funded_at`, `funded_month`, `funded_quarter` can be changed into datetime
- `funding_round_type`, `investor_state_code`, `investor_country_code` can be converted into categorical.

We can also remove `funded_month`, `funded_quarter`, and `funded_year` since they are both represented by `funded_at`.

In [8]:
# Changing the datatype
tar_cat = {
    "funding_round_type": "category", "investor_state_code": "category", 
    "investor_country_code": "category"
}

# Changing into datetime
date = ['funded_at']

# Removing unecessary columns
keep_cols = chunk.columns.drop(['funded_month', 'funded_quarter',
                                'funded_year'])

# Previewing the columns we kept
keep_cols.to_list()

['company_name',
 'company_category_code',
 'company_country_code',
 'company_state_code',
 'company_region',
 'company_city',
 'investor_name',
 'investor_country_code',
 'investor_state_code',
 'investor_region',
 'investor_city',
 'funding_round_type',
 'funded_at',
 'raised_amount_usd']

We'll try and import the dataset again and compare the memory usage.

In [9]:
# Importing the data set
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize = 5000, 
                           encoding = 'ISO-8859-1', usecols = keep_cols,
                           parse_dates = date, dtype = tar_cat)

# Creating an empty list
mem_usage = []

# Cleaning using string manipulation
for chunk in chunk_iter:
    mem_usage.append(chunk.memory_usage(deep=True).sum() / 1024 ** 2)

# Printing the result
sum(mem_usage)

30.022969245910645

In [10]:
# Checking the data type
chunk.dtypes

company_name                     object
company_category_code            object
company_country_code             object
company_state_code               object
company_region                   object
company_city                     object
investor_name                    object
investor_country_code          category
investor_state_code            category
investor_region                  object
investor_city                   float64
funding_round_type             category
funded_at                datetime64[ns]
raised_amount_usd               float64
dtype: object

We can see that we have dropped around 26 megabytes by converting the data types.

### 3. Loading Chunks Into SQLite
We will now export the dataset into SQLite. We will use every single settings we have used to save some space.

In [11]:
# Establishing the connection
conn = sqlite3.connect('crunchbase.db')
cursor = conn.cursor()
cursor.execute('DROP TABLE IF EXISTS investments;')
               
# Loading the dataset
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize = 5000, 
                           encoding = 'ISO-8859-1', usecols = keep_cols,
                           parse_dates = date, dtype = tar_cat)

# Exporting each chunk into the database
for chunk in chunk_iter:
    chunk.to_sql("investments", conn, if_exists = 'append', index = False)

We will now see the columns and the data types of our database in SQLite.

In [12]:
# Checking the datatype for the database
results_df = pd.read_sql('PRAGMA table_info(investments);', conn)
results_df

    cid                   name       type  notnull dflt_value  pk
0     0           company_name       TEXT        0       None   0
1     1  company_category_code       TEXT        0       None   0
2     2   company_country_code       TEXT        0       None   0
3     3     company_state_code       TEXT        0       None   0
4     4         company_region       TEXT        0       None   0
5     5           company_city       TEXT        0       None   0
6     6          investor_name       TEXT        0       None   0
7     7  investor_country_code       TEXT        0       None   0
8     8    investor_state_code       TEXT        0       None   0
9     9        investor_region       TEXT        0       None   0
10   10          investor_city       TEXT        0       None   0
11   11     funding_round_type       TEXT        0       None   0
12   12              funded_at  TIMESTAMP        0       None   0
13   13      raised_amount_usd       REAL        0       None   0

To end, we will be checking the first five results from our SQLite database.

In [13]:
# Checking the result from the database
test = pd.read_sql('SELECT * FROM investments LIMIT 5;', conn)
test

,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,raised_amount_usd
0,AdverCar,advertising,USA,CA,SF Bay,San Francisco,1-800-FLOWERS.COM,USA,NY,New York,New York,series-a,2012-10-30 00:00:00,2000000.0
1,LaunchGram,news,USA,CA,SF Bay,Mountain View,10Xelerator,USA,OH,Columbus,Columbus,other,2012-01-23 00:00:00,20000.0
2,uTaP,messaging,USA,None,United States - Other,None,10Xelerator,USA,OH,Columbus,Columbus,other,2012-01-01 00:00:00,20000.0
3,ZoopShop,software,USA,OH,Columbus,columbus,10Xelerator,USA,OH,Columbus,Columbus,angel,2012-02-15 00:00:00,20000.0
4,eFuneral,web,USA,OH,Cleveland,Cleveland,10Xelerator,USA,OH,Columbus,Columbus,other,2011-09-08 00:00:00,20000.0